@import "../../styles/main.scss";

.page {

  &__title {
    font-size: rem(50px);
    color: $white;
    margin-bottom: 50px;

    @include tablets() {
      font-size: rem(40px);
    }

    @include phones() {
      font-size: rem(30px);
    }
  }

  &__content {
    padding: 25px;
    background-color: $bg;

    p {
      @include Roboto(light);
      font-size: rem(18px);
      text-align: left;
    }

    img {
      width: 100%;
      height: auto;
    }

    .contacts__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .map {
      width: 58%;
      max-height: 700px;
      background: $white;

      @include tablets() {
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .contacts {
      width: 38%;

      @include tablets() {
        width: 100%;
      }

      p {
        @include Roboto(italic);
        font-size: rem(20px);
        line-height: 30px;
        letter-spacing: 1.5px;

        strong {
          @include Roboto(bold);
          margin-right: 10px;
        }
      }
    }

    .gallery {
      &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin-bottom: 25px;
        border: 5px solid $primary;
        transform: rotate(-3deg);
        cursor: pointer;
        overflow: hidden;

        @include tablets() {
          width: 49%;
        }

        img {
          width: 100%;
        }

        &:nth-child(2), &:first-child {
          width: 49%;
        }

        &:nth-child(3n + 2) {
          transform: rotate(2deg) scale(.9);
        }
      }
    }
  }
}