@import "../../styles/main.scss";

.page {

  &__title {
    font-size: rem(50px);
    color: $white;
    margin-bottom: 50px;

    @include tablets() {
      font-size: rem(40px);
    }

    @include phones() {
      font-size: rem(30px);
    }
  }

  &__content {
    padding: 25px;
    background-color: $bg;

    p {
      @include Roboto(light);
      font-size: rem(18px);
      text-align: left;
    }

    img {
      width: 100%;
      height: auto;
    }

    .contacts__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .map {
      width: 58%;
      min-height: 700px;
    }

    .contacts {
      width: 38%;

      p {
        @include Roboto(italic);
        font-size: rem(20px);
        line-height: 30px;
        letter-spacing: 1.5px;

        strong {
          @include Roboto(bold);
          margin-right: 10px;
        }
      }
    }
  }
}